*{
  margin: 0;
  padding: 0;

}
:root{
--azul: #2E8BC0;
--azul-bb: #B1D4E0;
--meia-noite: #145DA0;
--azul-escuro: #0C2D48;
}

body{
  font-family: sans-serif;
  background: linear-gradient(var(--azul), var(--meia-noite));
  min-height: 100vh;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}
